Hello World

<form method ="post" action="names">
	<div class="container">
		<div class="name"> 
			<table>
				<td>
					<tr>
						<label> First Name </label>
						<input type="text" name="first_name">  <br>
					</tr>
					<tr>
						<label> Last Name </label>
						<input type="text" name="last_name"> <br>
					</tr>
				</td>
			</table>
		</div>
		<div class="address">
			<label> Street </label>
			<input type="text" name="street"> <br>
			<label> City </label>
			<input type="text" name="city"> <br>
			<label> State </label>
			<input type="text" name="state"> <br>
			<label> Zip </label>
			<input type="text" name="zip"> <br>
		</div>
	</div>
	<input type="submit" value="Submit">
</form>	