<head>
<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<title>
Name and Address
</title>
</head>
<body>
   
        <%= yield %>

</body>
<footer>
    <div class="footer-text"> 
        This program was created by Jim Fedders
        <br>
        January 2018
    </div>
</footer>


